
<!-- Titulo del blog -->
<div class="col-md-12 center-block">
  <center>
      <h1 id="tituloBlog">{{title}}</h1>
      <br>
      <br>
  </center>
</div>

<!-- Introduccion al blog -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
            <header>
                  <h2 class="tituloP"> <a>Arduino Server2 DEP</a></h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
               exercitation ullamco laboris nisi ut.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
               exercitation ullamco laboris nisi ut.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
               exercitation ullamco laboris nisi ut.
            </p>
    </div>
  </div>
</div>



<!-- Estructura del blog -->
<div class="container">
  <div class="row">
    <!-- Parte Izquierda de la estructura del blog -->
    <div class="col-md-9">
        <h4>
          <center>
           Ultimos Post
            </center>
        </h4>
        <h4>
            <a href="">
              Trabajo en clase
            </a>
        </h4>
          <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
           Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
           mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
           Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet

          </p>
          <p>
            <img src="images/blog/post1.png" height="100%" width="100%">
          </p>
          <p class="finPost">
            Enviado por: daril1994 - Enviado el: 14/10/2017
          </p>



          <h4>
            <a href="">
              Circuitos
            </a>
        </h4>
          <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
           Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
           mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
           Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
           a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.

          </p>
          <p>
            <img src="images/blog/post2.png" height="100%" width="100%">
          </p>
          <p class="finPost">
            Enviado por: daril1994 - Enviado el: 14/10/2017
          </p>


    </div>
    <!-- Parte Derecha de la estructura del blog -->
    <div class="col-md-3 ">
      <section>
            <p>
              Busqueda
            </p>
            <p>
              <form method="GET" action="" style="margin:0px; padding:0px;">
                <input class="text2"  type="text" placeholder="Search" name="Search">
                <input class="text2"  type="submit" value="Search">
            </form>
            </p>

      </section>
          <br><br>
      <section>
            <p>
              Archivos
            </p>
            <ul>
              <li>
                2017
                 <ul>
                    <li>
                       Agosto
                    </li>
                    <li>
                       Septiembre
                    </li>
                    <li>
                       Octubre
                    </li>
                    <li>
                       Noviembre
                    </li>
                    <li>
                       Diciembre
                    </li>
                </ul>
              </li>
            </ul>

        </section>
            <br><br>
        <section>
            <p>
              Ultimos Post
            </p>
             <p>
                <ul>
                 <li>
                    Circuitos
                 </li>

                 <li>
                    Trabajo en clase
                 </li>
               </ul>
            </p>
            </p>
         </section>

            <br><br>
         <section>
            <p>
              Popular Post
            </p>
            <ul>
                 <li>
                    Circuitos
                 </li>

                 <li>
                    Trabajo en clase
                 </li>
               </ul>

          </section>
            </p>
    </div>
  </div>
</div>


