.container-fluid.Footer
	.row
		.col-lg-12
			center(style='padding-left: 25px')

				//a(href='#', target='_blank')
					img(alt='siguenos en facebook', height='35', src='Img/footer/Facebook.png', title='', width='40')
				//a(href='#', target='_blank')
					img(alt='siguenos en Instagram', height='40', src='Img/footer/Instagram.png', title='', width='40')
				//a(href='#', target='_blank')
					img(alt='siguenos en Twitter', height='40', src='Img/footer/Twitter.png', title='', width='40')
