doctype html
head
 title= title
 meta(charset="UTF-8")
 meta(name="viewport", content="width=device-width, initial-scale=1.0")
 meta(http-equiv="X-UA-Compatible", content="ie=edge")
 link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
 link(rel="stylesheet", href="/stylesheets/style.css")
 title DEP-Design
 body
    #menu.col-md-12
     nav
        table.tablaMenu
            tr
                td
                     a.letrasBlancas(href='/') Arduino
                td
                     a.letrasBlancas(href='/login') Login
                td
                     a.letrasBlancas(href='/blog') Blog

        table.tablaMenuI
            tr
                td
                 a.letrasBlancas(href='/') By DEP

    block content


    include footer
      script(src="/bower_components/jquery/dist/jquery.slim.min.js")
      script(src="/bower_components/popper.js/dist/umd/popper.min.js")
      script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
