extends layout.pug
block content
    .col-md-12.center-block
        center
            h1.tituloP= title
            br
            br
    .Sign
        center
            // formulario de inicio de sesion
            form(method='post')
            input.text2(type='email', name='Email', placeholder='Email', required='')
            br
            button#send.button(type='submit') Send
            #mensaje


